@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

:root{
    --green:#080808;
    --dark-color:#070707;
    --black:#444;
    --light-color:#666;
    --border:.1rem solid rgba(0,0,0,.1);
    --border-hover:.1rem solid var(--black);
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}

*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition:all .2s linear;
    transition:width none;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width:1rem;
}

html::-webkit-scrollbar-track{
    background:transparent;
}

html::-webkit-scrollbar-thumb{
    background:var(--black);
}

section{
    padding:5rem 9%;
}

.heading{
    text-align: center;
    margin-bottom: 2rem;
    position: relative;
}

.heading::before{
    content: '';
    position: absolute;
    top:50%; left:0;
    transform: translateY(-50%);
    width: 100%;
    height:.01rem;
    background: rgba(0,0,0,.1);
    z-index: -1;
}

.heading span{
    font-size: 3rem;
    padding:.5rem 2rem;
    color:var(--black);
    background: #fff;
    border:var(--border);
}

.btn{
    margin-top: 1rem;
    display:inline-block;
    padding:.9rem 3rem;
    border-radius: .5rem;
    color:#fff;
    background:var(--black);
    font-size: 1.7rem;
    cursor: pointer;
    font-weight: 500;
}

.btn:hover{
    background:var(--dark-color);
}

.header .header-1{
    background:black ;
    padding:1.1rem 9%;
  
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 4%;
    
}

.header .header-1 .logo{
    font-size: 2.5rem;
    font-weight: bolder;
    color:var(--black);
    max-width: 10%;
    object-fit: cover;
    
}
.header .header-1 img{
    max-height: 30%;
    max-width: 50%;
    margin-top: 9%;
}

.header .header-1 .logo i{
    color:var(--black);
}



.header .header-1 .search-form{
    width:80rem;
    height:5rem;
    border:var(--border);
    overflow: hidden;
    background:#fff;
    display:flex;
    align-items: center;
    border-radius: .5rem;
    margin-top: 1%;
}

.header .header-1 .search-form input{
    font-size: 1.6rem;
    padding:0 1.2rem;
    height:100%;
    width:1000%;
    text-transform: none;
    color:var(--black);
}

.header .header-1 .search-form button{
    font-size: 2.5rem;
    padding-right: 1.5rem;
    color:var(--black);
    cursor: pointer;
}



.header .header-1 .search-form button{
    font-size: 2.5rem;
    padding-right: 1.5rem;
    color:var(--black);
    cursor: pointer;
}



.header .header-1 .icons div,
.header .header-1 .icons a{
    font-size: 2.5rem;
    margin-left: 1.5rem;
    color:white; 
    cursor: pointer;
}

.header .header-1 .icons div:hover,
.header .header-1 .icons a:hover{
    color:var();
}

#search-btn{
    display: none;
}

.header .header-2{
    background:var(--red);
    
    
 
}

.header .header-2 .navbar{
   
    width: 100%;
    text-align: center;
    align-items: center;
   

}

.header .header-2 .navbar a{
    color:white;
    font-size: 1.7rem;
    text-align: center;
   
    
}

.header .header-2 .navbar a:hover{
    background:var(--);
   ;
}

.header .header-2.active{
    
    top:0; left:0; right:0;
  

}


.home{
  
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    
}

.home .row{
    display:flex;
    align-items: center;
    flex-wrap: wrap;
   
}

.home .row .content{
    flex:1 1 42rem;
}





.row .content img{
  min-width: 100px;
  width: 100%;
  margin-top: -3.1%;
 
   
}
.row .content a .btn{
    text-align: center;
}


.button{
    
    bottom: 40px;
    
    justify-content: center;
    
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
   
    
}

.button .homebutton a{
    color: white;
    border: 1.5px solid white;
    padding: 10px 15px;
   margin:4px;
    font-size: 15px;
    background-color: black;
    letter-spacing: 2px;
    font-size: 20px;

    
}



.icons-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap:1.5rem;
}

.icons-container .icons{
    display: flex;
    align-items: center;
    gap:1.5rem;
    padding:2rem 0;
}

.icons-container .icons i{
    font-size: 3.5rem;
    color:var(--green);
}

.icons-container .icons h3{
    font-size: 2.2rem;
    color:var(--black);
    padding-bottom: .5rem;
}

.icons-container .icons p{
    font-size: 1.4rem;
    color:var(--light-color);
}



.featured .featured-slider .box:hover{
   
}

.featured .featured-slider .box{
    margin:2rem 0;
    position: relative;
    overflow: hidden;
    
    text-align: center;
}


.featured .featured-slider .box .image{
    padding:1rem;
    background: linear-gradient(15deg, #eee 30%, #fff 30.1%);
   
}

.featured .featured-slider .box:hover .image{
    transform: translateY(6rem);
   
    
}

.featured .featured-slider .box .image img{
    
    height: 300px;
}

.featured .featured-slider .box .icons{
    border-bottom: var(--border-hover);
    position: absolute;
    top:0; left:0; right: 0;
    background: #fff;
    z-index: 1;
    transform: translateY(-105%);
}

.featured .featured-slider .box:hover .icons{
    transform: translateY(0%);
}

.featured .featured-slider .box .icons a{
    color:var(--black);
    font-size: 2.2rem;
    padding:1.3rem 1.5rem;
}

.featured .featured-slider .box .icons a:hover{
    
    color:#fff;
}

.featured .featured-slider .box .content{
    background:#eee;
    padding:1.5rem;
}

.featured .featured-slider .box .content h3{
    font-size: 2rem;
    color:var(--black);
}

.featured .featured-slider .box .content .price{
    font-size: 2.2rem;
    color:var(--black);
    padding-top: 1rem;
}

.featured .featured-slider .box .content .price span{
    font-size: 1.5rem;
    color:red;
    text-decoration: line-through;
}

.swiper-button-next,
.swiper-button-prev{
    border:var(--border-hover);
    height:4rem;
    width:4rem;
    color:var(--black);
    background: #fff;
}

.swiper-button-next::after,
.swiper-button-prev::after{
    font-size: 2rem;
}

.swiper-button-next:hover,
.swiper-button-prev:hover{
    background: var(--black);
    color:#fff;
}

.newsletter{
    background:url() no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-color: #809934;
   
}

.about .main img{
    width: 580px;
    max-width: 100%;
    height: auto;
    padding: 0 10px;
    min-width: 768px;
    text-align: right;
}

.all-text{
    width: 600px;
}







.arrivals .arrivals-slider .box{
    display: flex;
    
    gap:1.5rem;
    padding:2rem 1rem;
    border:var(--border);
    margin:1rem 0;
    margin-top: -20%;
}

.arrivals .arrivals-slider .box:hover{
    border:var(--border-hover);
}

.arrivals .arrivals-slider .box .image img{
    height:15rem;  
}

.arrivals .arrivals-slider .box .content h3{
    font-size: 2rem;
    color:var(--black);
}

.arrivals .arrivals-slider .box .content .price{
    font-size: 2.2rem;
    color:var(--black);
    padding-bottom: .5rem;
}

.arrivals .arrivals-slider .box .content .price span{
    font-size: 1.5rem;
    color:var(--light-color);
    text-decoration: line-through;
}

.arrivals .arrivals-slider .box .content .stars i{
    font-size: 1.5rem;
    color:var(--green);
}

.deal{
    
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:1.5rem;
}

.deal .content{
    flex:1 1 42rem;
}

.deal .image{
    flex:1 1 42rem;
}

.deal .image img{
    width: 100%;
}





.deal .content p{
    padding:1rem 0;
    color:var(--light-color);
    font-size: 1.4rem;
    line-height: 2;
}

/* .deal .content a{
    
  top: 50%;
  left: 50%;
 position: relative;
  background-color: black;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  
  border-radius: 5px;
  text-align: center;

} */

.container .btn {
    position: absolute;
    top: 480%;  
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: white;
    color: black;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer; 
    border-radius: 5px;
    text-align: center;
 
 
  }
  

.deal .shoe img{
width: 100%;
}





.reviews .reviews-slider .box{
    border:var(--border);
    padding:2rem;
    text-align: center;
    margin:2rem 0;
}

.reviews .reviews-slider .box:hover{
    border:var(--border-hover);
}

.reviews .reviews-slider .box img{
    height:7rem;
    width:7rem;
    border-radius: 50%;
    object-fit: cover;
}

.reviews .reviews-slider .box h3{
    color:var(--black);
    font-size: 2.2rem;
    padding:.5rem 0;
}

.reviews .reviews-slider .box p{
    color:var(--light-color);
    font-size: 1.4rem;
    padding:1rem 0;
    line-height: 2;
}

.reviews .reviews-slider .box .stars{
    padding-top: .5rem;
}

.reviews .reviews-slider .box .stars i{
    font-size: 1.7rem;
    color:var(--green);
}

.blogs .blogs-slider .box{
    margin:2rem 0;
   
}



.blogs .blogs-slider .box .image{
    height: 80%;
    width: 80%;
    overflow: hidden;
}



.blogs .blogs-slider .box:hover .image img{
    transform: scale(1.1);
}

.blogs .blogs-slider .box .content{
    padding:1.5rem;
}

.blogs .blogs-slider .box .content h3{
    font-size: 2.2rem;
    color:var(--black);
}

.blogs .blogs-slider .box .content p{
    font-size: 1.4rem;
    color:var(--light-color);
    padding:1rem 0;
    line-height: 2;
}


.loader-container{
    position: fixed;
    top:0; left: 0;
    height:100%;
    width: 100%;
    z-index: 10000;
    background:#f7f7f7;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader-container.active{
    display: none;
}

.loader-container img{
    height:10rem;
}










/* media queries  */

@media (max-width:991px){

    html{
        font-size: 55%;
    }

    .header .header-1{
        padding:2rem;
    }

    section{
        padding:3rem 2rem;
    }

}

@media (max-width:768px){

    html{
        scroll-padding-top: 0;
    }

    body{
        padding-bottom: 6rem;
    }

    .header .header-2{
        display:none;
    }

    .bottom-navbar{
        display: block;
    }

    #search-btn{
        display: inline-block;
    }

    .header .header-1{
        box-shadow: var(--box-shadow);
        position: relative;
    }

    .header .header-1 .search-form{
        position:absolute;
        top:-115%; right:2rem;
        width: 90%;
        box-shadow: var(--box-shadow);
    }

    .header .header-1 .search-form.active{
        top:115%;
    }

    .home .row .content{
        text-align: center;
    }

    .home .row .content h3{
        font-size: 3.5rem;
    }

    .newsletter{
        background-position: right;
    }

    .newsletter form{
        margin-left:0;
        max-width: 100%;
    }

}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

}

.about{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #5fb6c5;
    margin-top: 50px;
    padding: 0;
    margin: 0;
   
}

.about .image{
    flex:1 1 40rem;
    
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    
    
    
}

.about .image img{
    height:65vh;
    width:100%;
}

.about .content{
    flex:1 1 40rem;
}

.about .content h3{
    letter-spacing: 0.01rem;
    padding: 0 12px 0 12px;
    color: #fff;
    width: 100%;
    font-size: 45px;
    margin-top: 2%;
    
    
}

.about .content p{
  font-size: 22px;
  font-family: "GTAmerica-ExtendedRegular", Arial, Helvitica, sans-serif;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: #fff;
  padding: 0 12px 0 12px;
}
.about .content a{
    display: inline-block;
    font-family: "GTAmerica-ExtendedRegular", Arial, Helvitica, sans-serif;
padding: 12px 12px;
margin: 0 auto;
text-align: center;
background-color: #fff;
color: #000;
border: 1px solid #fff;
border-radius: 3px;
transition: all 0.3em;
font-size: 15px;
margin-left: 20%;
margin-top: 5%;

}


/* New Arrivals */

.special-img span{
    top: 20px;
    right: 35%;
  
}
.special-list .btn{
    padding: 8px 20px!important;
}
.special-img img{
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.special-img:hover img{
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
}

 
  
  @media only screen and (max-width: 567px) {
    .product-center {
      max-width: 100%;
      padding: 0 1rem;
    }
  
    .product-item {
      width: 40%;
      margin-bottom: 3rem;
    }
  
    .product-thumb img {
      height: 20rem;
    }
  
    .product-item {
      margin-right: 2rem;
    }
  
    .product-item .icons li {
      padding: 0.5rem 1rem;
      font-size: 1.8rem;
    }
  }

  :before,:after{
	box-sizing: border-box;
}
.container{
	max-width: 1200px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
.v-center{
	align-items: center;
}
ul{
	list-style: none;
	margin:0;
	padding:0;
}
a{
	text-decoration: none;
}
/* header */



.header{
	display: block;
	width: 100%;
	position: relative;
	z-index: 1;
	padding:0px;
}
.header .item-left{
	flex:0 0 17%;
}
.header .logo a{
	font-size: 30px;
	color:#0eb582;
	font-weight: 700;
	text-decoration: none;
}
.header .item-center{
	flex:0 0 66%;
}
.header .item-right{
	flex:0 0 17%;
	display: flex;
	justify-content: flex-end;
}
.header .item-right a{ 
     text-decoration: none;
     font-size: 16px;
     color:#555555;
     display: inline-block;
     margin-left: 10px;
     transition: color 0.3s ease;
}
.header .menu > ul > li{
	display: inline-block;
	line-height: 50px;
	margin-left: 25px;
}
.header .menu > ul > li > a{
	font-size: 15px;
	font-weight: 500;
	color:#000000;
	position: relative;
	text-transform: capitalize;
	transition: color 0.3s ease;
}
.header .menu > ul > li .sub-menu{
	position: absolute;
	z-index: 500;
	background-color:#ffffff;
	box-shadow: -2px 2px 70px -25px rgba(0,0,0,0.3); 
	padding: 20px 30px;
	transition: all 0.5s ease;
	margin-top:25px;
	opacity:0;
	visibility: hidden;
}
@media(min-width: 992px){
.header .menu > ul > li.menu-item-has-children:hover .sub-menu{
	margin-top: 0;
	visibility: visible;
	opacity: 1;
  
}
}   
.header .menu > ul > li .sub-menu > ul > li{
	line-height: 1;
}
.header .menu > ul > li .sub-menu > ul > li > a{
	display: inline-block;
	padding: 10px 0;
	font-size: 15px;
	color: white;
	transition: color 0.3s ease;
	text-decoration: none;
	text-transform: capitalize;
}
.header .menu > ul > li .single-column-menu{
	min-width: 280px;
	max-width: 350px;
}
.header .menu > ul > li .sub-menu.mega-menu > .list-item > ul > li{
   line-height: 1;
   display: block; 
}
.header .menu > ul > li .sub-menu.mega-menu > .list-item > ul > li > a {
	padding:10px 0;
	display: inline-block;
	font-size: 15px;
	color:white;
	transition: color 0.3s ease;
}
.header .menu > ul > li .sub-menu.mega-menu{ 
    left: 50%;
    transform: translateX(-50%);	
}

.header .menu > ul > li .sub-menu.mega-menu-column-4{
  max-width: 1100px;
  width: 100%; 	
  display: flex;
  flex-wrap: wrap;
  padding:20px 15px;
}
.header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item{
  flex:0 0 25%;
  padding:0 15px;
}
.header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item .title a{
	font-size: 16px;
	color:black;
	font-weight: 500;
	line-height: 1;
	padding:10px 0;
    text-decoration: none;
}

.header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item .title a:hover{
color: red;
}
.header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item.text-center .title a{
	text-align: left;
    
}
.header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item img{
	max-width: 100%;
	width: 120%;
	vertical-align: middle;
	margin-top: 10px;
    height: 150px;
   

}




/* banner section */

.mobile-menu-head,
.mobile-menu-trigger{
	display: none;
}


.banner-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-container .banner{
    background:linear-gradient(-55deg, #ff7675 29%, #d63031 29.1%, #d63031 68%, #ff7675 68.1%);
    border-radius: 5px;
    margin:10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    box-shadow: 0 5px 10px #0005;
    overflow: hidden;
}
























.client-wrap{
    display: flex;
    

 
}

.client-wrap hr{
    width: 20%;
    height: 5px;
    border: none;
    
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}
.client-in{
    width: 100%;
    height: auto;
}
.client-in ul{
    padding: 0;
    margin: 0;
}
.client-in ul li{
    list-style: none;
    display: inline-block;
    width: 150px;
    height: 100px;
    position: relative;
    overflow:  hidden;
    cursor: pointer;
   margin: 10px;
   box-shadow: 0px 0px 0px -7px #555;
   transition: .5s;

}

.client-in ul li img{
   
    width: 100%;
    height: 100%;
    
    
}



/* header */













































.header{

    
    z-index: 6;
    
}
.wrap{

	width: 100%;
	padding:0px;
    background-color: #000;

}
.wrap .item-left{
	flex:0 0 17%;
}
.wrap .logo a{
	font-size: 30px;
	color:#000000;
	font-weight: 700;
	text-decoration: none;
}
.wrap .item-center{
	flex:0 0 66%;
}
.wrap .item-right{
	flex:0 0 17%;
	display: flex;
	justify-content: flex-end;
}
.wrap .item-right a{ 
     text-decoration: none;
     font-size: 16px;
     color:black;
     display: inline-block;
     margin-left: 10px;
     transition: color 0.3s ease;
}
.wrap .menu > ul > li{
	display: inline-block;
	line-height: 50px;
	margin-left: 25px;
}
.wrap .menu > ul > li > a{
	font-size: 15px;
	font-weight: 500;
	color:white;
	position: relative;
	text-transform: capitalize;
	transition: color 0.3s ease;
}
.wrap .menu > ul > li .sub-menu{
	position: absolute;
	z-index: 500;
	background-color:#ffffff;
	box-shadow: -2px 2px 70px -25px rgba(0,0,0,0.3); 
	padding: 0px 0px;
	transition: all 0.5s ease;
	margin-top:25px;
	opacity:0;
	visibility: hidden;
}
@media(min-width: 992px){
.wrap .menu > ul > li.menu-item-has-children:hover .sub-menu{
	margin-top: 0;
	visibility: visible;
	opacity: 1;
}
}
.wrap .menu > ul > li .sub-menu > ul > li{
	line-height: 1;
}
.wrap .menu > ul > li .sub-menu > ul > li > a{
	display: inline-block;
	padding: 10px 0;
	font-size: 15px;
	color: #555555;
	transition: color 0.3s ease;
	text-decoration: none;
	text-transform: capitalize;
}
.wrap .menu > ul > li .single-column-menu{
	min-width: 280px;
	max-width: 350px;
}
.wrap .menu > ul > li .sub-menu.mega-menu > .list-item > ul > li{
   line-height: 1;
   display: block; 
}
.wrap .menu > ul > li .sub-menu.mega-menu > .list-item > ul > li > a {
	padding:10px 0;
	display: inline-block;
	font-size: 15px;
	color:#555555;
	transition: color 0.3s ease;
}
.wrap .menu > ul > li .sub-menu.mega-menu{ 
    left: 50%;
    transform: translateX(-50%);	
}

.wrap .menu > ul > li .sub-menu.mega-menu-column-4{
  max-width: 1100px;
  width: 100%; 	
  display: flex;
  flex-wrap: wrap;
  padding:20px 15px;
}
.wrap .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item{
  flex:0 0 25%;
  padding:0 15px;
}
.wrap .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item .title{
	font-size: 16px;
	color:black;
	font-weight: 500;
	line-height: 1;
	padding:10px 0;
}
.wrap .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item.text-center .title{
	text-align: center;
}
.wrap .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item img{
	max-width: 100%;
	width: 100%;
	vertical-align: middle;
	margin-top: 10px;
}
.wrap .menu > ul > li .sub-menu.mega-menu > .list-item > ul > li > a:hover,
.wrap .menu > ul > li .sub-menu > ul > li > a:hover,
.wrap .item-right a:hover,
.wrap .menu > ul > li:hover > a{
	color:black;
}

/*responsive*/
@media(max-width: 991px){

	.wrap .item-center{
		order:3;
		flex:0 0 100%;
	}
	.wrap .item-left,
	.wrap .item-right{
		flex:0 0 auto;
	}
	.v-center{
		justify-content: space-between;
	}
	.wrap .mobile-menu-trigger{
		display: flex;
		height: 30px;
		width: 30px;
		margin-left: 15px;
		cursor: pointer;
		align-items: center;
		justify-content: center;
	}
	.wrap .mobile-menu-trigger span{
		display: block;
		height: 2px;
		background-color: #333333;
		width: 24px;
		position: relative;
	}
	.wrap .mobile-menu-trigger span:before,
	.wrap .mobile-menu-trigger span:after{
		content: '';
		position: absolute;
		left:0;
		width: 100%;
		height: 100%;
		background-color: #333333;
	}
	.wrap .mobile-menu-trigger span:before{
		top:-6px;
	}
	.wrap .mobile-menu-trigger span:after{
		top:6px;
	}
	.wrap .item-right{
		align-items: center;
	}

	.wrap .menu{
		position: fixed;
		width: 320px;
		background-color:#ffffff;
		left:0;
		top:0;
		height: 100%;
		overflow: hidden;
		transform: translate(-100%);
		transition: all 0.5s ease;
		z-index: 1099;
	}
	.wrap .menu.active{
	   transform: translate(0%);	
	}
	.wrap .menu > ul > li{
		line-height: 1;
		margin:0;
		display: block;
	}
	.wrap .menu > ul > li > a{
		line-height: 50px;
		height: 50px;
		padding:0 50px 0 15px;
		display: block;
		border-bottom: 1px solid rgba(0,0,0,0.1);
	}
	.wrap .menu > ul > li > a i{
		position: absolute;
		height: 50px;
		width: 50px;
		top:0;
		right: 0;
		text-align: center;
		line-height: 50px;
		transform: rotate(-90deg);
	}
	.wrap .menu .mobile-menu-head{
		display: flex;
		height: 50px;
		border-bottom: 1px solid rgba(0,0,0,0.1);
		justify-content: space-between;
		align-items: center;
		position: relative;
		z-index: 501;
		position: sticky;
		background-color: #ffffff;
		top:0;
	}
	.wrap .menu .mobile-menu-head .go-back{
		height: 50px;
		width: 50px;
		border-right: 1px solid rgba(0,0,0,0.1);
		cursor: pointer;
		line-height: 50px;
		text-align: center;
		color:#000000;
		font-size: 16px;
		display: none;
	}
	.wrap .menu .mobile-menu-head.active .go-back{
		display: block;
	}
	.wrap .menu .mobile-menu-head .current-menu-title{
		font-size: 15px;
		font-weight: 500;
		color:#000000;
	}
	.wrap .menu .mobile-menu-head .mobile-menu-close{
	    height: 50px;
		width: 50px;
		border-left: 1px solid rgba(0,0,0,0.1);
		cursor: pointer;
		line-height: 50px;
		text-align: center;
		color:#000000;	
		font-size: 25px;
	}
	.wrap .menu .menu-main{
		height: 10%;
width: 100%;
		overflow-x: hidden;
		overflow-y: auto;
        
	}

    .main-biral li > a:hover {
        color: #F01616 !important;
        text-decoration: none;
    }

	.wrap .menu > ul > li .sub-menu.mega-menu,
	.wrap .menu > ul > li .sub-menu{
		visibility: visible;
		opacity: 1;
		position: absolute;
		box-shadow: none;
		margin:0;
		padding:15px;
		top:0;
		left:0;
		width: 100%;
		height: 100%;
		padding-top: 65px;
		max-width: none;
		min-width: auto;
		display: none;
		transform: translateX(0%);
		overflow-y: auto;
	}
.wrap .menu > ul > li .sub-menu.active{
	display: block;
}
@keyframes slideLeft{
	0%{
		opacity:0;
		transform: translateX(100%);
	}
	100%{
	    opacity:1;
		transform: translateX(0%);	
	}
}
@keyframes slideRight{
	0%{
		opacity:1;
		transform: translateX(0%);
	}
	100%{
	    opacity:0;
		transform: translateX(100%);	
	}
}
	.wrap .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item img{
		margin-top:0;
	}
	.header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item.text-center .title{
		margin-bottom: 20px;
	}
	.header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item.text-center:last-child .title{
		margin-bottom:0px;
	}
	.header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item{
		flex: 0 0 100%;
        padding: 0px;
	}
	.header .menu > ul > li .sub-menu > ul > li > a,
	.header .menu > ul > li .sub-menu.mega-menu > .list-item > ul > li > a{
		display: block;
	}
	.header .menu > ul > li .sub-menu.mega-menu > .list-item > ul {
		margin-bottom: 15px;
	}
	.menu-overlay{
		position: fixed;
		background-color: rgba(0,0,0,0.5);
		left:0;
		top:0;
		width: 100%;
		height: 100%;
		z-index: 1098;
		visibility: hidden;
		opacity:0;
		transition: all 0.5s ease;
	}
	.menu-overlay.active{
	  visibility: visible;
	  opacity:1;	
	}
}
.footer-section{
    background:black;
    position:relative;
    }
    .footer-cta{
    border-bottom:1px solid var(--white);
    }
    .single-cta i{
    color:white;
    font-size:30px;
    float:left;
    margin-top:8px;
    }
    .cta-text{
    padding-left:15px;
    display:inline-block;
    }
    .cta-text h4{
    color:white;
    font-size:20px;
    font-weight: 600;
    margin-bottom:2px;
    }
    .cta-text span{
    color:var(--white);
    font-size: 15px;
    }
    .footer-content{
    position:relative;
    z-index: 2;
    }
    .footer-logo{
    margin-bottom:30px;
    }
    .footer-logo img{
    max-width: 130px;
    
    }
    .footer-text p{
    margin-bottom:14px;
    font-size: 14px;
    color:var(--white);
    line-height: 28px;
    }
    .footer-social-icon span{
    color:white;
    display:block;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
    }
    .footer-social-icon a{
    color:white;
    font-size: 16px;
    margin-right:15px;
    }
    .footer-social-icon i{
    height:40px;
    width:40px;
    text-align: center;
    line-height: 38px;
    border-radius: 50%;
    }
    .facebook-bg{
    background:var(--facebook);
    }
    .twitter-bg{
    background:var(--twitter);
    }
    .instagram-bg{
    background:var(--instagram);
    }
    .footer-widget-heading h3{
    color:white;
    font-size: 20px;
    font-weight: 600;
    margin-bottom:40px;
    position:relative;
    }
    .footer-widget-heading h3::before{
    content:'';
    position:absolute;
    left:0;
    bottom:-15px;
    height:2px;
    width:50px;
    background:white;
    }
    .footer-widget ul li{
    display:inline-block;
    
    width:50%;
    margin-bottom:12px;
    
    }
    .footer-widget ul li a:hover{
    color:white;
    }
    .footer-widget ul li a{
    color:white;
    text-transform: capitalize;
    }
    .subscribe-form{
    position:relative;
    overflow:hidden;
    }
    .subscribe-form input{
    width:100%;
    padding:14px 28px;
    background:var(--white);
    border:1px solid var(--light-black-2);
    color:var(--white-color);
    }
    .subscribe-form button{
    position:absolute;
    right:0;
    background:var(--primary-color);
    padding:13px 20px;
    border:1px solid var(--primary-color);
    top:0;
    } 
    .subscribe-form button i{
    color:var(--white-color);
    font-size: 22px;
    transform:rotate(-6deg);
    }
    .copyright-area{
    background:var(--dark black);
    padding:10px 0;
    }
    .copyright-text p{
    margin:0;
    font-size: 14px;
    color:var(--white);
    }
    .copyright-text p a{
    color:var(--primary-color);
    }
    .footer-menu li{
    display:inline-block;
    margin-left:20px;
    }
    .footer-menu li:hover a{
    color:white;
    }
    .footer-menu li a{
    font-size: 14px;
    color:white;
    }
    
    @media (max-width:1030px){
    .mb-30{
      margin-bottom:30px;
    }
    .footer-text p,
    .footer-social-icon{
      margin-bottom:30px;
    }
    }
          
        




section {
    padding: 5rem 10%;
  }
  
  .heading-link {
    text-align: center;
    background: url(../images/heading-bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
  }
  
  .heading-link h3 {
    font-size: 4rem;
    text-transform: capitalize;
    color: #444;
  }
  
  .heading-link p {
    font-size: 2rem;
    line-height: 2;
    color: #777;
  }
  
  .heading-link p a {
    color: #0eb582;
  }
  
  .heading-link p a:hover {
    text-decoration: underline;
  }
  
  .heading {
    text-align: center;
    margin-bottom: 3rem;
    font-size: 3.5rem;
    text-transform: capitalize;
    color: #444;
  }
  
  .btn {
    display: inline-block;
    margin-top: 1rem;
    padding: 1rem 3rem;
    font-size: 1.8rem;
    border: 0.1rem solid #0eb582;
    background: #f0fdfa;
    color: #0eb582;
    cursor: pointer;
    text-transform: capitalize;
  }
  
  .btn:hover {
    background: #0eb582;
    color: #fff;
  }

  .footerr .links{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 0;
    gap: 1rem;
    width: 100%;
  }

  .footerr .links a{
    padding: .7rem 2rem;
    color: black;
    border-radius: 3px;
    font-size: 2rem;
  }
  .footerr .links a:hover{
    border: 1px solid red;
  }
  .footerr .links a:hover{
   
    text-decoration: none;
  }





  .sticky-content.fix-top {
    top: -10%;
}
.sticky-content.fix-bottom {
    bottom: 0;
}
.sticky-content.fixed {
    position: fixed;
    left: 0;
    right: 0;
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    z-index: 1051;
    -webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
}
.sticky-content.fixed.fix-top {
    -webkit-animation: fixedTopContent 0.4s;
    animation: fixedTopContent 0.4s;
}
.sticky-content.fixed.fix-bottom {
    -webkit-animation: fixedBottomContent 0.4s;
    animation: fixedBottomContent 0.4s;
}

.swiper-slide .image .image-size img{
    height: 280px;
    width: 290px;
}


.brandFeatureInner{
width: 100%;
display: block;
background-color: #0eb582;
padding: 0;
overflow: hidden;
}

.carousel-item img{
    height: 800px;
}

.button-hober .button a{
background-color: #0eb582;
}













  

 
  
  
  











